<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="lk.icta.mobile.apps.railway"
      android:versionCode="6"
      android:versionName="1.6">
    <application android:icon="@drawable/icon" android:label="@string/app_name">
        <activity android:name=".ui.ActivityDashboard"
        		 android:theme="@style/Theme.AppLight"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".ui.ActivitySelectTrainLines"                       
            android:theme="@style/Theme.AppLight"
            android:label="@string/app_name">
        </activity>
        
         <activity
            android:name=".ui.ActivitySelectStations"
            android:theme="@style/Theme.AppLight"
            android:label="@string/app_name">
        </activity>
        
        <activity
            android:name=".ui.ActivityDisplaySchedule"
            android:theme="@style/Theme.AppLight"
            android:label="@string/app_name">
        </activity>
        
        <activity
            android:name=".ui.ActivityDisplayTrainDelays"
            android:theme="@style/Theme.AppLight"
            android:label="@string/app_name">
        </activity>
   
      
        
    </application>

<uses-permission android:name="android.permission.INTERNET"></uses-permission>
<uses-sdk android:minSdkVersion="5"/>
</manifest> 